<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Terapia Alternativa</a>
    <ul>
      <li class="header-link"><a href="/especialistas">Especialistas</a></li>
      <li class="header-link"><a href="/especialistas/new">Añadir Especialista</a></li>
   </ul>
  </nav>
</header>