<!--<h2 class="page-header">Agregados Recientemente</h2>
<div>
  <% //pacientes.forEach(paciente => { %>
    <a href="/pacientes/<%= //paciente.id %>">
      <img height="150" width="100" src="<%= //paciente.coverImagePath %>">
    </a>
  <% //}) %>
</div>-->