<h2 class="page-header">Nuevo Paciente</h2>
<form action="/pacientes" method="POST">
  <%- include('_form_fields') %><br>
  <div class="form-row form-row-end btn-row">
  <a class="btn btn-danger" href="/pacientes">Cancelar</a>
  <button class="btn btn-primary" type="submit">Crear</button>
  </div>
</form>