<h2 class="page-header">Editar Especialista</h2>
<form action="/especialistas/<%= especialista.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %><br>
  <div class="form-row form-row-end btn-row"> 
    <a class="btn btn-danger" href="/especialistas/<%= especialista.id %>">Cancelar</a>
  <button class="btn btn-primary" type="submit">Actualizar</button>
</form>