<h2 class="page-header">Nuevo Especialista</h2>
<form action="/especialistas" method="POST">
  <%- include('_form_fields') %><br>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/especialistas">Cancelar</a>
  <button class="btn btn-primary"  type="submit">Añadir</button>
</form>